<div class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a id="nav-text" href="/" class="navbar-brand font-anomalia">
        b OUR log
    </a>

    <div class="ml-auto">
        <ul class="navbar-nav">
            <ul class="nav-item">
                <a href="/admin/categories/" class="nav-link">Categorias</a>
            </ul>
            <ul class="nav-item">
                <a href="/admin/articles/" class="nav-link">Artigos</a>
            </ul>
            <ul class="nav-item">
                <a href="/admin/users/" class="nav-link">Users</a>
            </ul>
            <ul class="nav-item ml-5">
                <a href="/admin/logout" class="nav-link">Logout</a>
            </ul>
        </ul>
    </div>
</div>

